.form-control {
  display: block;
  margin: 0 auto;
}

.label{
  color: var(--Teks, #FFF);
  font-size: 15px;
  font-weight: 600;
}

.header-tulisan {
  color: var(--Teks, #FFF);
  font-size: 23px;
  font-weight: 700;
}

.signin{
  border-radius: 9999px;
  width: 25vw;
}