<div  class="col-md-12">
    <div class="table-responsive table-container">
        <table class="table" style="border: 2px;">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width: 100px;">No</th>
                    <th rowspan="2" style="min-width: 400px;">Deskripsi SUB-CPMK</th>
                    <th rowspan="2" style="min-width: 100px;">Kode SUB-CPMK</th>
                    <th style="min-width: 15vw; text-align: center; " colspan="6"> Teknik Penilaian</th>
                    <th rowspan="2" style="min-width: 100px;">Total Nilai</th>
                </tr>
                <tr>
                    <th > Partisipasi  </th>
                    <th > Tugas/Quiz </th>
                    <th > Presentasi </th>
                    <th > Tes Tulis </th>
                    <th > Tes Lisan </th>
                    <th > Tugas Kelompok / Proyek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of rekapNilaiCpmk; let i = index;" >   
                    <td>
                       {{i + 1}}
                    </td> 
                    <td>
                        {{val.nama_subcpmk}}
                    </td> 
                    <td>
                        {{val.kode_subcpmk}}
                    </td>  
                    <td>
                        {{val.partisipasi}}
                    </td>  
                    <td>
                        {{val.tugas}}
                    </td>  
                    <td>
                        {{val.presentasi}}
                    </td>  
                    <td>
                        {{val.tes_tulis}}
                    </td>  
                    <td>
                        {{val.tes_lisan}}
                    </td>  
                    <td>
                        {{val.tugas_kelompok}}
                    </td>  
                    <td>
                        {{val.total_nilai}}
                    </td>  

                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #ListSubCpmkMahasiswa let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-list-nilai-sub-cpmk [id_detailmk_fk]="id_detailmk_fk" [id_mk_fk]="id_mk_fk" [nrp]="nrp" (afterSave)="modal.close()"></app-list-nilai-sub-cpmk>
    </div>
</ng-template>