
  
  #filter-kurikulum.ng-select {
    width: 270px;
}   

#filter-kurikulum.ng-select > .ng-select-container {
    height: 37px !important;
}

::ng-deep ng-dropdown-panel {
  max-height: 100px; 
  overflow-y: auto; 
}
