<div class="card" *ngIf="!showForm">
    <div class="card-header">
       <p style="font-size: 20px;"><b>Daftar CPMK</b> </p> 
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12 row">
                <div class="col-md-5">
                    <form class="form-inline">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <ng-select  placeholder="Pilih Kurikulum" id="kurikulum"    bindLabel="nama_kurikulum" bindValue="id_kurikulum"
                                    [dropdownPosition]="'down'"
                                    [(ngModel)]="filter.id_kurikulum" 
                                    [search]="true"
                                    [ngModelOptions]="{standalone: true}">
                                     <ng-option *ngFor="let k of kurikulum" [value]="k.id_kurikulum">{{ k.kode_kurikulum }} - {{ k.nama_kurikulum }}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fas fa-search" (click)="reloadDataTable()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-primary mr-2" (click)="formCreate()">
                        <i class="fa fa-plus font-size-14 align-middle mr-1"></i> Tambah CPMK 
                    </button>
                </div>
        
            </div>
            <div class="col-md-12 mt-4">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" >
                    <thead class="thead-light">
                        <tr>
                            <td>No</td>
                            <td>Kode Kurikulum</td>
                            <td>Nama Kurikulum</td>
                            <td>Kode CPL</td>
                            <td>Deskripsi CPL</td>
                            <td>Kode CPMK</td>
                            <td>Deskripsi CPMK</td>
                            <td width="90"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cpmk of listCpmk;">
                            <td>{{cpmk.no}}</td>
                            <td class="vertical-middle">{{cpmk.detail_kurikulum.kode_kurikulum}}</td>
                            <td class="vertical-middle">{{cpmk.detail_kurikulum.nama_kurikulum}}</td>
                            <td class="vertical-middle">{{cpmk.detail_cpl.kode_cpl}}</td>
                            <td class="vertical-middle">{{cpmk.detail_cpl.deskripsi_cpl}}</td>
                            <td class="vertical-middle">{{cpmk.kode_cpmk}}</td>
                            <td class="vertical-middle">{{cpmk.deskripsi_cpmk}}</td>
                            <td class="vertical-middle">
                                <a href="javascript: void(0);" class="align-middle mr-2"
                                (click)="formUpdate(cpmk)" placement="left" container="body"
                                ngbTooltip="Ubah">
                                <em class="fa fa-edit font-size-14"></em>
                            </a>
                            <a href="javascript: void(0);" class="align-middle"
                                (click)="deleteCpmk(cpmk.id_cpmk)" placement="left" container="body"
                                ngbTooltip="Hapus">
                                <em class="fa fa-trash font-size-14"></em>
                            </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleForm}}</h1>
                </div>
                <div class="card-body">
                    <app-form-cpmk [cpmkId]="cpmkId" (afterSave)="showForm = false; reloadDataTable()"></app-form-cpmk>
                </div>
            </div>
        </div>
    </div>
</div>