<div class="col-md-12 mt-2">
    <div class="table-responsive">
        <table class="table" style="border: 2px;" datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th style="min-width: 100px;">No</th>
                    <th style="min-width: 100px;">Deskripsi Sub-CPMK</th>
                    <th style="min-width: 100px;">kode Sub-CPMK</th>
                    <th style="min-width: 100px;">Indikator Pencapaian</th>
                    <th style="min-width: 100px;">Metode Pembelajaran</th>
                    <th style="min-width: 100px;">Teknik Penilaian</th>
                    <th style="min-width: 100px;">Rubrik</th>
                    <th style="min-width: 100px;">Pertemuan</th>
                    <th style="min-width: 100px;">Status Penilaian</th>
                    <th style="min-width: 100px;">Pesan</th>
                    <th style="min-width: 100px;">Status Berkas</th>
                    <th style="min-width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of listSubcpmk; let i = index;" >   
                    <td>
                       {{i + 1}}
                    </td> 
                    <td>
                        {{val.nama_subcpmk}}
                    </td> 
                    <td>
                        {{val.kode_subcpmk}}
                    </td> 
                    <td>
                        {{val.indikator_pencapaian}}
                    </td> 
                    <td>
                        {{val.metode_pembelajaran}}
                    </td> 
                    <td>
                        {{val.teknik_penilaian}}
                    </td>
                    <td>
                        {{val.instrumen_penilaian}}
                    </td>  
                    <td>
                        {{val.pertemuan}}
                    </td> 
                    <td class="vertical-middle">
                        <span *ngIf="val.available == 1" class="custom-badge custom-badge-success">Selesai</span>
                        <span *ngIf="val.available == 0" class="custom-badge custom-badge-warning">Belum Nilai</span>
                    </td>

                    <td class="vertical-middle">
                        <span *ngIf="val.pesan_penilaian === null" class="align-items-center text-center">-</span>
                        {{val.pesan_penilaian}}
                    </td>

                    <td class="vertical-middle">
                        <span *ngIf="val.status_penilaian == 'diterima'" class="custom-badge custom-badge-success">{{val.status_penilaian}}</span>
                        <span *ngIf="val.status_penilaian == 'draft'" class="custom-badge custom-badge-secondary">{{val.status_penilaian}}</span>
                        <span *ngIf="val.status_penilaian == 'ditolak'"class="custom-badge custom-badge-danger">{{val.status_penilaian}}</span>
                        <span *ngIf="val.status_penilaian == 'revisi'" class="custom-badge custom-badge-warning">{{val.status_penilaian}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="formPenilaian(val)" *ngIf="val.status_penilaian == 'diterima' || val.status_penilaian == 'draft'" (click)="afterSave.emit()">lakukan penilaian</button>
                        <button class="btn btn-sm btn-warning" (click)="formPenilaian(val)" *ngIf="val.status_penilaian == 'ditolak' " (click)="afterSave.emit()">Revisi</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>



