<div class="col-md-12 mt-4">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" >
        <thead class="thead-light">
            <tr>
                <td>No</td>
                <td style="min-width: 2vw;">NRP</td>
                <td style="min-width: 5vw;">Nama</td>
                <td style="min-width: 5vw;">Total Nilai</td>
                <td style="min-width: 5vw;">Grade</td>
                <td style="min-width: 2vw;"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mahasiswa of listMahasiswa;">
                <td>{{mahasiswa.no}}</td>
                <td class="">{{mahasiswa.nrp}}</td>
                <td class="">{{mahasiswa.nama}}</td>
                <td class="">{{mahasiswa.total_nilai}}</td>
                <td class="">{{getGrade(mahasiswa.total_nilai)}}</td>
                <td>
                    <button (click)="lihatNilaiCpmkMahasiswa(ListCpmkMahasiswa, mahasiswa.nrp, mahasiswa.nama)" class="btn btn-sm btn-primary">Lihat Rekap</button>
                </td>

            </tr>
        </tbody>
    </table>
</div> 


<ng-template #ListCpmkMahasiswa let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-list-rekap-nilai-cpmk [nama_mahasiswa]="nama_mahasiswa"  [id_mk_fk]="id_mk_fk" [nrp]="nrp" (afterSave)="modal.close()"></app-list-rekap-nilai-cpmk>
    </div> 
</ng-template>


