<div class="col-md-12 mt-2">
    <div class="table-responsive">
        <table class="table" style="border: 2px;" datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th style="min-width: 100px;">No</th>
                    <th style="min-width: 100px;">Deskripsi Sub-CPMK</th>
                    <th style="min-width: 100px;">kode Sub-CPMK</th>
                    <th style="min-width: 100px;">Indikator Pencapaian</th>
                    <th style="min-width: 100px;">Metode Pembelajaran</th>
                    <th style="min-width: 100px;">Teknik Penilaian</th>
                    <th style="min-width: 100px;">Rubrik</th>
                    <th style="min-width: 100px;">Pertemuan</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of listSubcpmk; let i = index;" >   
                    <td>
                       {{i + 1}}
                    </td> 
                    <td>
                        {{val.nama_subcpmk}}
                    </td> 
                    <td>
                        {{val.kode_subcpmk}}
                    </td> 
                    <td>
                        {{val.indikator_pencapaian}}
                    </td> 
                    <td>
                        {{val.metode_pembelajaran}}
                    </td> 
                    <td>
                        {{val.teknik_penilaian}}
                    </td>
                    <td>
                        {{val.instrumen_penilaian}}
                    </td>  
                    <td>
                        {{val.pertemuan}}
                    </td> 
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12 mt-2">
     <button type="button" class="btn btn-sm btn-light mr-2" (click)="kembali(listDetailMk , id_mk_fk )"><em
        class="fa fa-arrow-left"></em> Kembali</button>
</div>

<ng-template #listDetailMk let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleForm}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-list-detail-mk [id_matakuliah]="id_mk_fk" (afterSave)="modal.close();" ></app-list-detail-mk>
    </div>
</ng-template>