
<div class="vertical-menu">
  <div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
        <li class="menu-title">Dashboard</li>
        <li>
          <a [routerLink]="['/']" class="is-parent">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="menu-title">Setting</li>
        <li>
          <a [routerLink]="['/kurikulum']" class="is-parent">
            <i class="fas fa-user"></i>
            <span>Kurikulum</span>
          </a>
        </li>
    </ul>
  </div>
</div>