
<div class="vertical-menu">
  <div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
        <li class="menu-title">Dashboard</li>
        <li>
          <a [routerLink]="['/']" class="is-parent">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="menu-title">Setting</li>
        <li>
          <a [routerLink]="['/kurikulum']" class="is-parent">
            <i class="fa fa-university"></i>
            <span>Kurikulum</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/cpmk']" class="is-parent">
            <i class="fa fa-share-alt"></i>
            <span>CPMK</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/mata-kuliah']" class="is-parent">
            <i class="fa fa-book"></i>
            <span>Mata Kuliah</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/sub-cpmk']" class="is-parent">
            <i class="fa fa-sitemap"></i>
            <span>Sub-CPMK</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/penilaian-mk']" class="is-parent">
            <i class="fa fa-briefcase"></i>
            <span>Penilaian Mata Kuliah</span>
          </a>
        </li>

        <!-- menu validasi -->
        <ngb-accordion #acc="ngbAccordion" > 
          <ngb-panel >
            <ng-template ngbPanelTitle>
              <span style="color: black;">Menu Validasi</span>
            </ng-template> 
              <ng-template ngbPanelContent > 

                <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
                  <li>
                    <a [routerLink]="['/validasi-kurikulum']" class="is-parent">
                      <i class="fa fa-university" style="color: white; margin-right: 0.5vw;"></i>
                      <span style="color: white;">Validasi Kurikulum</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/validasi-mk']" class="is-parent">
                      <i class="fa fa-briefcase" style="color: white; margin-right: 1vw;"></i>
                      <span style="color: white;">Validasi Mata Kuliah</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/validasi-penilaian']" class="is-parent">
                      <i class="fa fa-check-circle" style="color: white; margin-right: 0.5vw;"></i>
                      <span style="color: white;">Validasi Penilaian</span>
                    </a>
                  </li>
                </ul>

              </ng-template> 
            </ngb-panel> 
        </ngb-accordion> 

        <!-- menu laporan -->
        <ngb-accordion #acc="ngbAccordion" > 
          <ngb-panel >
            <ng-template ngbPanelTitle>
              <span style="color: black;">Menu Laporan</span>
            </ng-template> 
              <ng-template ngbPanelContent > 

                <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
                  <li>
                    <a [routerLink]="['/rekap-nilai-all-mahasiswa']" class="is-parent">
                      <i class="fa fa-university" style="color: white; margin-right: 0.5vw;"></i>
                      <span style="color: white;">Laporan Rekap Nilai Mahasiswa (kaprodi) </span>
                    </a>
                  </li>  
                  <li>
                    <a [routerLink]="['/rekap-nilai-mahasiswa']" class="is-parent">
                      <i class="fa fa-university" style="color: white; margin-right: 0.5vw;"></i>
                      <span style="color: white;">Laporan Rekap Nilai  (mahasiswa) </span>
                    </a>
                  </li>  
                  <li>
                    <a [routerLink]="['/evaluasi-cpl']" class="is-parent">
                      <i class="fa fa-graduation-cap"></i>
                      <span>Evaluasi CPL</span>
                    </a>
                  </li>
                </ul>

              </ng-template> 
            </ngb-panel> 
        </ngb-accordion> 

        <li>
          <a [routerLink]="['/user']" class="is-parent">
            <i class="fa fa-cog"></i>
            <span>Setting User & Roles</span>
          </a>
        </li>
        
    </ul>
  </div>
</div>