<div class="card" *ngIf="!showForm" >
    <div class="card-header">
       <p style="font-size: 20px;"><b>Daftar Mahasiswa - Evaluasi CPL</b> </p> 
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12 row">
                <div class="col-md-5">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group input-group-sm mr-2">
                                <input type="text" placeholder="Filter Nama Matakuliah" class="form-control form-control-sm" [(ngModel)]="filter.nama_mahasiswa"  name="nama_mahasiswa"  />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-search" (click)="reloadDataTable()">
                                       
                                        </i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>   
            </div>
            <div class="col-md-12 mt-4">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" >
                    <thead class="thead-light">
                        <tr>
                            <td>No</td>
                            <td style="min-width: 2vw;">NRP</td>
                            <td style="min-width: 5vw;">Nama</td>
                            <td style="min-width: 2vw;">Program Studi</td>
                            <td style="min-width: 2vw;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mahasiswa of listMahasiswa;">
                            <td>{{mahasiswa.no}}</td>
                            <td class="">{{mahasiswa.nrp}}</td>
                            <td class="">{{mahasiswa.nama}}</td>
                            <td class="">{{mahasiswa.prodi}}</td>
                            <td>
                                <button (click)="formRekap(mahasiswa.nrp, mahasiswa.nama)" class="btn btn-sm btn-primary">Lihat Rekap</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleForm}}</h1>
                </div>
                <div class="card-body">
                    <app-list-rekap [nrp]="nrp" (afterSave)="showForm = false; reloadDataTable()"></app-list-rekap>
                </div>
            </div>
        </div>
    </div>
</div>