<div class="card" *ngIf="!showForm">
    <div class="card-header">
       <p style="font-size: 20px;"><b>Daftar Mahasiswa - Evaluasi CPL</b> </p> 
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <form class="row">
                    <div class="col-md-5">
                        <ng-select  placeholder="Pilih Kurikulum" id="kurikulum" bindLabel="nama_kurikulum" bindValue="id_kurikulum"
                                    [dropdownPosition]="'down'"
                                    [(ngModel)]="filter.kurikulum" 
                                    [search]="true"
                                    [ngModelOptions]="{standalone: true}">
                                     <ng-option *ngFor="let k of listKurikulum" [value]="k.id_kurikulum">{{ k.kode_kurikulum }} - {{ k.nama_kurikulum }}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" placeholder="Filter Nama Mahasiswa" class="form-control form-control-sm" [(ngModel)]="filter.nama_mahasiswa"  name="nama_mahasiswa"  />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-search" (click)="reloadTable()"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12 mt-4">
                <table class="table table-hover"  >
                    <thead class="thead-light">
                        <tr>
                            <td rowspan="2">No</td>
                            <td rowspan="2">Nama Mahasiswa</td>
                            <td colspan="2" *ngFor="let val of listCpl" style="text-align: center;">{{val.kode_cpl}}</td>
                            <td rowspan="2">Total ALL CPL</td>
                            <td rowspan="2">Total CPL Lulus</td>

                        </tr>
                        <tr>
                            <ng-container *ngFor="let val of listCpl">
                                <td style="text-align: center;">Total CPL</td>
                                <td style="text-align: center;">Total CPL Lulus</td>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of listMahasiswa; let i = index;">
                            <td>{{i + 1}}</td>
                            <td class="vertical-middle">{{val.nama}}</td>
                            <ng-container *ngFor="let value of listCpl">
                                <td style="text-align: center;">
                                    {{ val.detail.hasOwnProperty(value.id_cpl_fk) ? val.detail[value.id_cpl_fk].total_cpl_all : value.total_cpl }}
                                </td>
                                <td style="text-align: center;">
                                    {{ val.detail.hasOwnProperty(value.id_cpl_fk) ? val.detail[value.id_cpl_fk].total_cpl_didapat : 0 }}
                                </td>
                            </ng-container>
                            <td>{{val.total_all_cpl_lulus}}</td>
                            <td>{{val.total_all_cpl_didapat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleForm}}</h1>
                </div>
                <div class="card-body">
                    <app-form-mata-kuliah [mkId]="mkId" (afterSave)="showForm = false; reloadDataTable()"></app-form-mata-kuliah>
                </div>
            </div>
        </div>
    </div>
</div>