<div class="row">
    <h1>HOME</h1>
    <div class="col-md-6 box-list">
        <div class="box-item">
            <p><span class="label"><strong>Nama:</strong></span> <span>{{profile.name}}</span></p>
            <p><span class="label"><strong>Roles:</strong></span> <span>{{profile.roles_name}}</span></p>
            <p><span class="label"><strong>Alamat:</strong></span> <span>{{profile.alamat}}</span></p>
            <p><span class="label"><strong>Jenis Kelamin:</strong></span> <span>{{profile.jenis_kelamin}}</span></p>
        </div>
    </div>
</div>