<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header row">
                    <div class="col-md-3">
                        <h1>Daftar user</h1>
                    </div>
                    <div class="col-md-9 text-end">
                        <div role="group" class="btn-group btn-group-sm" style="margin-right: 1vw;">
                            <button type="button" class="btn btn-sm btn-primary" (click)="createUser(formUser)">
                                <em class="fas fa-plus font-size-14 align-middle me-1"></em> Tambah User
                            </button>
                        </div>
                        <div role="group" class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-primary" (click)="addRoles()">
                                <em class="fas fa-plus font-size-14 align-middle me-1"></em> Tambah Roles
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm mr-2">
                                            <input type="text" placeholder="Filter Nama User" class="form-control form-control-sm" [(ngModel)]="filter.nama"  name="nama"  />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search" (click)="reloadDataTable()">
                                                   
                                                    </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" >
                                <thead class="thead-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Email</th>
                                        <th>prodi</th>
                                        <th>Roles</th>
                                        <th>Alamat</th>
                                        <th>Jenis Kelamin</th>
                                        <th width="90"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of listUser;">
                                        <td>{{user.no}}</td>
                                        <td class="vertical-middle">{{user.name}}</td>
                                        <td class="vertical-middle">{{user.email}}</td>
                                        <td class="vertical-middle">{{user.prodi}}</td>
                                        <td class="vertical-middle">{{user.roles_name}}</td>
                                        <td class="vertical-middle">{{user.alamat}}</td>
                                        <td class="vertical-middle">{{user.jenis_kelamin}}</td>
                                        <td class="vertical-middle text-right">
                                            <a href="javascript: void(0);" class="align-middle me-2"
                                                (click)="updateUser(formUser, user)" placement="left" container="body"
                                                ngbTooltip="Ubah">
                                                <em class="fa fa-edit font-size-14"></em>
                                            </a>
                                            <a href="javascript: void(0);" class="align-middle" (click)="deleteUser(user.id)"
                                                placement="left" container="body" ngbTooltip="Hapus">
                                                <em class="fa fa-trash font-size-14"></em>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-form-user [userId]="userId" (afterSave)="modal.close(); getUser()"></app-form-user>
    </div>
</ng-template>

<!-- user roles -->
<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleModal}}</h1>
                </div>
                <div class="card-body">
                    <app-user-roles (afterSave)="showForm = false; reloadDataTable()"></app-user-roles>
                </div>
            </div>
        </div>
    </div>
</div>
