<form>
    <div class="form-group row">
        <label class="col-md-4 required">Nama</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.name" type="text" name="name" class="form-control"
                placeholder="Nama Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Email</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.email" type="email" name="email" class="form-control"
                placeholder="Email Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">NRP</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.nrp"  name="nrp" class="form-control"
                placeholder="NRP Jika Mahasiswa">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">NIP</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.nip"  name="nip" class="form-control"
                placeholder="NIP Jika Dosen">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Program Studi</label>
        <div class="col-md-8">
            <select [(ngModel)]="formModel.prodi" name="prodi" class="form-control">
                <option value="">Pilih Program Studi</option>
                <option value="Sistem Informasi">Sistem informasi</option>
                <option value="Teknik Informatika">Teknik Informatika</option>
                <option value="Sistem Informasi D3">Sistem Informasi D3</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Alamat</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.alamat" type="alamat" name="alamat" class="form-control"
                placeholder="Alamat Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Jenis Kelamin</label>
        <div class="col-md-8">
            <select [(ngModel)]="formModel.jenis_kelamin" name="jenis_kelamin" class="form-control">
                <option value="laki-laki">Laki-laki</option>
                <option value="perempuan">Perempuan</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Password</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.password" type="password" name="password" class="form-control"
                placeholder="Password">
            <small class="form-text text-muted" *ngIf="activeMode == MODE_UPDATE">Kosongi password jika tidak
                diubah
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Roles</label>
        <div class="col-md-8">
            <select [(ngModel)]="formModel.user_roles_id" name="user_roles_id" class="form-control" >
                <option value="0" >Pilih Roles</option>
                <option *ngFor="let role of listRoles" [value]="role.id">{{ role.name }}</option>
            </select>
        </div>
    </div>
   
      
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary" (click)="save()">Simpan</button>
        </div>
    </div>
</form>